h4{
  border: 1px solid;
  background-color: rgb(220, 35, 35);
  height: 80px;
  width: 230px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
}

pre{
  border: 1px dashed;
  height: 50px;
  width: 200px;
}

span{
  border: 1px dashed;
  margin-left: 2px;
}